<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Uploads</title>
    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>
</head>
<body>
    <h1>Your Uploaded CSV Files</h1>
    <button onclick="refreshPage()">Refresh</button>
    <table border="1">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Status</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td>{{ upload['filename'] }}</td>
                <td>{{ upload['status'] }}</td>
                <td>{{ upload['remark']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('auth.dashboard') }}">Back to Dashboard</a>
</body>
</html>
